<div class="container"> <!-- ここを追加 -->
    <div class="row">   <!-- ここを追加 -->
    <div class="col-xs-3" style="background-color: white;">
    <!-- 左側のユーザーメニューここから -->
        <h4><%=  notice %></h4>
        <h1>User info</h1>
            <div class="profile-container">
            <%= attachment_image_tag @user, :profile_image,　format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %><br>
                <table>
                  <tr>
                    <th>name</th>
                    <td><%= @user.name %></td>
                </tr>
                  <tr>
                    <th>introduction</th> 
                    <td><%= @user.introduction %></td>
            </tr>
                </table>
        <p><%= link_to edit_user_path(@user), class: 'col-xs-12 btn btn-default glyphicon glyphicon-wrench ' do %><% end %></p>
        <% if @new.errors.any? %>
          <p>error</p>
            <%= @new.errors.count %>件のエラーが発生しました
            <% @new.errors.full_messages.each do |message| %>
              <%= message %>
            <% end %>
          <% end %>

        <%= form_for(@new) do |f| %>
          <h1>New book</h1><br>
          Title<br>
          <%= f.text_field :title %><br>
          Opinion<br>
          <%= f.text_area :body %><br>
          <%= f.submit %><br>
        <% end %>
      </div>
    <!-- 左側のユーザーメニューここまで -->
    </div>
    <div class="col-xs-9">   
      <h1>Book detail</h1>
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        
         <tbody>
            <tr>
              <td><%= link_to user_path(@book.user_id) do %>
                  <%= attachment_image_tag @book.user, :profile_image,　format: 'jpeg', fallback: "no_image.jpg", size: "40x40" %>
                <% end %></td>
              <td><%= @book.title %></td>
              <td><%= @book.body %></td>
              <% if @book.user_id == current_user.id %>
              <td><button class="btn btn-success"><%= link_to 'Edit', edit_book_path(@book) %></button></td>
              <td><button class="btn btn-warning"><%= link_to 'Destroy', book_path(@book), method: :delete %></button></td>
              <% end %>
            </tr> 
        </tbody>
      </table>
    </div>
</div>
</div>