
<!DOCTYPE html>
<html>
  <head>
<title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <div id="slidemenu">
  <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">
  

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav class="nav navbar-nav navbar-left">
      <span>Bookers</span>
    </nav>
<% if user_signed_in? %>
    <nav>
        
      <ul class="nav navbar-nav navbar-right">

          <li>
            <%= link_to user_path(current_user.id), class: 'glyphicon glyphicon-home home' do %>Home<% end %>
          </li>
          <li>
            <%= link_to users_path, class: 'glyphicon glyphicon-user users' do %>Users<% end %></li>
          <li>
             <%= link_to books_path, class: 'glyphicon glyphicon-book books' do %>Books<% end %></li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete, class: 'glyphicon glyphicon-log-out logout' do %>logout<% end %></li>
      </ul>
      </nav>
      <% else %>

      <!-- ログインしてない場合のメニュー -->
      <nav>
      <ul class="nav navbar-nav navbar-right">
          <li><%= link_to root_path, class: 'glyphicon glyphicon-home home' do %>Home<% end %></li>
          <li><%= link_to home_about_path, class: 'glyphicon glyphicon-link about' do %>About<% end %></li>
          <li><%= link_to new_user_registration_path, class: 'glyphicon glyphicon-edit sign_up' do %>sign up<% end %></li>
          <li><%= link_to user_session_path, class: 'lyphicon glyphicon-log-in sign_in' do %>login<% end %></li>
      </ul>
    </nav>
     <% end %>
  </div>
</header>    
   
  </ul>
</div>
<body style="margin-top: 50px;">

<%= yield %>

 </body> 

 <footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-3 col-xs-offset-9">
        <p>CopyRight Infratop.inc</p>
      </div>
    </div>
  </div>
</footer>
 </html>